<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>

<!-- URLBASE/users/register -->
<body>
        <form id="register-form">
            <h1>Registro</h1>
            <input type="email" id="email" placeholder="Correo">
            <input type="password" id="password" placeholder="Contraseña">
            <input type="password" id="password-confirmation" placeholder="Confirmar contraseña">
            <button type="submit">Enviar</button>
            <a href="./login.html">Inicia sesión</a>
        </form>
    <script type="module" src="/src/ts/register.ts"></script>
</body>
</html>