<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>

<!-- URLBASE/users/register -->
<body>
    <header>
        <nav>
            <div id="nav-title">
                <h1><a href="">Data Leaker Gates</a></h1>
            </div>
            <div id="nav-options">
                <ul>
                <li>
                    <a href="/src/views/login.html">Log In</a>
                </li>
    
                <li>
                    <a href="/src/views/register.html">Registro</a>
                </li>
                </ul>
            </div>
        </nav>
    </header>
        <form id="register-form">
            <h1>Registro</h1>
            <input type="email" id="email" placeholder="Correo">
            <input type="password" id="password" placeholder="Contraseña">
            <button type="submit">Enviar</button>
        </form>
    <script type="module" src="/src/ts/register.ts"></script>
</body>
</html>